@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo de la pagina */
body {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Ffotos-vectores-gratis%2Ffondo-estrellado&psig=AOvVaw0Y95gyoHFdjbALFG5sczDl&ust=1702004251814000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCIjR0I2q_IIDFQAAAAAdAAAAABAI");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}